{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "project": ["./tsconfig.json"],
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0,
    "max-len": [2, 160, 2]
  }
}
